<style type="text/css">
footer {
    background-color: gray;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
}
</style>

<div class="container-fluid">
    <h1 class="text-uppercase text-center">Contact</h1>
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-7" style="margin-bottom:1%">
            <hr>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-xs-6 col-sm-3">
            <!-- Column 1<br> -->
            <img src="images/contactpic.jpg" alt="contactpicture" width="400" height="266.67">
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-8">
                <h3>Best Condo</h3>
                <p>บริษัท เบสท์ คอนโด จำกัด</p>
                <p> เลขที่ 123 ถนนบราชชนนี แขวงทวีวัฒนา เขตทวีวัฒนา กรุงเทพมหานคร 10170</p>
                <p> โทรศัพท์: +662 000 0000 or +662 999 9999</p>
                <p> โทรสาร: +662 999 9990</p>
                <p> อีเมล: Webest@best.or.th</p>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer font-small white">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 black" style="background: gray">© 2018 Copyright: <a
            class="text-uppercase">Best Electronic</a>
    </div>
    <!-- Copyright -->
</footer>