<div class="container-fluid">
    <h2 class="text-uppercase text-center">History</h2>
    <div class="d-flex justify-content-end my-3">
        <button class="btn btn-secondary" id="export">Export</button>
    </div>
    <table id="historyTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Repair Type</th>
                <th>Repair Status</th>
                <th>Detail</th>
                <th>By</th>
                <th>Created Date</th>
                <th>Updated Date</th>
            </tr>
        </thead>
    </table>
</div>

<script src="scripts/history.js"></script>
