<style type="text/css">
footer {
    background-color: gray;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
}
</style>

<div class="container-fluid">
    <h2 class="text-uppercase text-center">History</h2>
    <div class="d-flex justify-content-end my-3">
        <button class="btn btn-secondary" id="export">Export</button>
    </div>
    <table id="historyTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Repair Type</th>
                <th>Repair Status</th>
                <th>Detail</th>
                <th>By</th>
                <th>Created Date</th>
                <th>Updated Date</th>
            </tr>
        </thead>
    </table>
</div>

<footer class="page-footer font-small white">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 black" style="background: gray">© 2018 Copyright: <a
            class="text-uppercase">Best Electronic</a>
    </div>
    <!-- Copyright -->
</footer>

<script src="scripts/history.js"></script>
