<div class="container-fluid">
    <h2 class="text-uppercase text-center">History</h2>
    <table id="historyTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Repair Type</th>
                <th>Repair Status</th>
                <th>Detail</th>
                <th>By</th>
                <th>Created Date</th>
                <th>Updated Date</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Repair Type</th>
                <th>Repair Status</th>
                <th>Detail</th>
                <th>By</th>
                <th>Created Date</th>
                <th>Updated Date</th>
            </tr>
        </tfoot>
    </table>
</div>
<script src="scripts/history.js"></script>