<div class="reportpage">

    <div class="container-fluid">
        <h1 class="text-uppercase text-center">Repairing System </h1>

    </div>
    <br>
    <div class="container" class="navbar-right">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='history.html'">History</button>
    </div>
    <br>

    <div class="container1">
        <form action="/action_page.php">
            <p>Repairing Detail: </p>
            <input type="radio" name="type" value="computer"> Computer<br>
            <input type="radio" name="type" value="printer/scanner"> Printer/Scanner<br>
            <input type="radio" name="type" value="network"> Network System<br>
            <input type="radio" name="type" value="other"> Other<br>
            <br>
            <p>Detail:</p>
            <textarea rows="4" cols="50" name="detail" form="usrform" placeholder="Enter text here..."></textarea>
            <br>
            <input type="submit">
        </form>
    </div>
</div>